/* SUIT */
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/SUIT-Regular.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/SUIT-Medium.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/SUIT-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/SUIT-Bold.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 800;
	src:url(../../fonts/SUIT-ExtraBold.woff) format("woff");
}