/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/NotoSansKR-Bold.woff) format('woff');
}
/* SUIT */
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/SUIT-Medium.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/SUIT-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "SUIT";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/SUIT-Bold.woff) format("woff");
}