@charset "UTF-8";

.join_wrap {
  /* 기본 타이틀 */
  .sub_title_wrap {
    padding:0 vw(40) vw(40);
    h2 { color:$gray9; font-size:vw(40); line-height:vw(64); font-weight:$semi-bold; }
    .notification_type05 { margin:vw(30) 0 0; }
  }

  /* 조인 모집 */
  .recruit_wrap {
    padding:vw(10) 0 0;
    > div {
      padding:vw(50) vw(40); border-top:vw(16) solid $gray05;
      &:first-child { border:none; padding:0 vw(40) vw(50); }
      > strong { display:block; color:$gray9; font-size:vw(30); font-weight:$semi-bold; margin:0 0 vw(50); }
    }
    .form_wrap {
      > div {
        margin:vw(50) 0 0;
        &:first-child { margin:0; }

        .form_type03_2 { margin:vw(27) 0 0; }
        .form_type03_2 label { font-size:vw(26); color:$gray7; }
        .form_type03_2 input[type=checkbox]:checked ~ label { color:$gray9 }

        .form_type03_1 input[type=radio]:checked ~ label { color:$gray9 }
      }

      .form_addr dd {
        display:flex; justify-content:space-between; flex-wrap:wrap;
        input { width:calc(100% - 21.38889vw) }
        button { width:vw(142); font-size:vw(26); padding:vw(20) 0; font-weight:$semi-bold; }
        button:after { border-color:$gray2; }
        button:active:after { border-color:$gray4; }
        button:disabled:after, &:disabled:active:after { border-color:$gray2; color:$gray4; }
        input:nth-of-type(2) { width:100%; margin:vw(10) 0 0; }
      }
      .form_date {
        dd {
          display:flex; justify-content:space-between;
          input { width:calc(100% - 21.38889vw) }
          button { width:vw(142); font-size:vw(26); padding:vw(20) 0; font-weight:$semi-bold; }
        }
        .noti_green {
          background-color:$green05; font-weight:$semi-bold; margin:vw(16) 0 0;
          span { color:$green1; }
          span:before { background-image:url(../../images/common/icon_alert_green.svg) }
        }
      }
      .form_fee dd {
        input[type=text] { text-align:right; }
        input[type=text]::-webkit-input-placeholder { text-align:left; } /* Edge */
        input[type=text]:-ms-input-placeholder { text-align:left; } /* Internet Explorer 10-11 */
        input[type=text]::placeholder { text-align:left; }
      }
      .form_gender {
        dd {
          .form_type03_2 { margin:0 vw(30) 0 0; display:inline-block; vertical-align:top;}
          .form_type03_2:last-child { margin:0; }

          .form_type03_1 { margin:0 vw(30) 0 0; display:inline-block; vertical-align:top;}
          .form_type03_1:last-child { margin:0; }
          .form_type03_1 {
            input[type=radio]:checked ~ label {
              &:before { background-color:$green1; }
            }
          }
        }
      }
      .form_age dd {
        display:flex; align-items:center;
        input[type=text] { width:vw(296); }
        em { width:vw(42); text-align:center; color:$black; font-size:vw(30); font-weight:$bold; }
      }

      /* 비활성화 (form_type02 클래스 추가) */
      .form_disabled dt { @include opacity(0.4); }
      .info_txt { font-size:vw(24); line-height:vw(38); color:$gray5; padding:vw(20) 0 0; }
    }
    .btn_add_companion { margin:vw(29) 0 0; }
    .companion_info {
      .form_type03_2 { margin:0 0 vw(56) }
      .form_type03_2 input[type=checkbox]:checked ~ label { color:$gray9 }
    }
    .companion_list {
      display:flex; flex-wrap:wrap; margin:0 0 vw(40);
      li {
        font-size:vw(26); cursor:pointer; margin:0 vw(16) 0 0; font-weight:$medium; color:$white; background-color:$gray2; padding:vw(26) vw(60) vw(20) vw(26); border-radius:vw(10); position:relative;
        button {
          position:absolute; top:50%; right:vw(20); width:vw(30); height:vw(30); background:url(../../images/common/icon_delete.svg) no-repeat 50% 50%; background-size:cover; text-indent:-9999px;
          @include opacity(.6);
          @include translate(0, -50%);
        }
        &:last-child { margin:0; }
        &.active { background-color:$green1; }
      }
    }
  }

  /* 버튼 */
  .btn_wrap {
    margin:vw(50) 0 0; box-sizing:border-box; padding:0 vw(40) vw(120);
    &.btn_half {
      display:flex; justify-content:space-between;
      .btn_default { width:calc(50% - 0.83333vw) }
    }
  }
  .btn_wrap_fix {
    width:100%; box-sizing:border-box; padding:0 vw(40); position:fixed; bottom:vw(120); left:0;
    &.btn_half {
      display:flex; justify-content:space-between;
      .btn_default { width:calc(50% - 0.83333vw) }
    }
    .form_type03_2 { margin:0 0 vw(50); }
    .form_type03_2 label { color:$gray7; }
    .form_type03_2 label:before { background-color:$gray4 }
    .form_type03_2 input[type=checkbox]:checked ~ label { color:$gray9; }
    .form_type03_2 input[type=checkbox]:checked ~ label:before { background-color:$violet1; }
  }
}

/* 팝업 */
.popup {
  letter-spacing:vw(-0.6);
  .popup_fix_end { height:100vh; display:flex; align-items:flex-end; }
  .popup_content { width:100%; border-radius:vw(20) vw(20) 0 0; }
  .btn_wrap {
    box-sizing:border-box; padding:vw(80) vw(40) vw(120);
    &.btn_half {
      display: flex; justify-content: space-between;
      .btn_default { width:calc(50% - 0.83333vw) }
    }
  }
  .popup_title_wrap {
    display:flex; justify-content:space-between; padding:vw(50) vw(40) 0;
    > strong { display:flex; align-items:center; font-size:vw(34); font-weight:$semi-bold; line-height:vw(48); }
    .btn_popup_close { width:vw(60); height:vw(60); position:static; text-indent:-999999999px; background:url(../../images/common/btn_page_close.svg) center/cover no-repeat; }
  }
  .popup_cont_wrap {
    padding:0 vw(40);
    > p { font-size:vw(24); line-height:vw(36); font-weight:$medium; }
    .notification_type01 { margin:vw(30) 0 vw(40); color:$gray7; }
    > strong { display:inline-block; font-size:vw(24); font-weight:$semi-bold; line-height:vw(36); }
  }


  .popup_match {
    width:100%; /*height:vw(986);*/
    .popup_cont_wrap { padding-top:vw(72); }
  }
  .popup_address {
    height:90vh;
    .popup_txt_chk {
      padding:vw(50) vw(40) 0;
      .form_type02 {
        position:relative;
        input { font-size:vw(28); line-height:vw(38); }
      }
      .form_type03_2 {
        margin:vw(26) 0 0;
        label { font-size:vw(26); }
        input[type="checkbox"]:checked + label{ color:$gray9; }
      }
      .search { width:vw(38); height:vw(38); position:absolute; top:vw(30); right:vw(30); background:url(../../images/join/sarch_gray.svg) center/cover no-repeat; text-indent:-999999999px; }
    }
    .address_list_wrap {
      .address_filter {
        padding:vw(84) vw(40) vw(32);
        @extend %clearfix;
        > div {
          float: right; position:relative; padding:0 vw(30) 0 vw(20);
          input[type="radio"] {
            position: absolute; top: 0; left: 0; z-index: -1; opacity: 0;
            & ~ label {
              color:$gray5; font-size:vw(24);
              &:before { width:vw(8); height:vw(8); background-color:$gray4; border-radius:100%; position:absolute; top:vw(12); left:0; content:""; }
            }
            &:checked ~ label {
              color:$gray9; font-weight:$medium;
              &:before { background-color:$gray9; }
            }
          }
        }
      }
      .address_list {
         background-color:rgba(228, 231, 236, 0.59); overflow-y:scroll;
        > div {
          padding:vw(40) vw(30); margin:0 vw(40) vw(20); background-color:$white; border-radius:vw(16);
          strong { display:inline-block; padding:0 0 vw(30); font-size: vw(30); font-weight:$semi-bold; line-height: vw(32); }
          &:nth-child(1) { margin-top:vw(40); }
          &:last-child { margin-bottom:vw(40); }
          > div dl {
            padding:vw(16) 0 0;
            @extend %clearfix;
            dt {
              width:vw(80); float:left; padding:vw(11) 0 vw(8); margin:0 vw(12) 0 0; font-size:vw(20); font-weight:$regular; text-align:center; line-height:vw(21); border-radius:vw(8); letter-spacing:0;
            }
            &:nth-child(1) {
              padding:0;
              dt { background-color:$gray7; color:$white; }
            }
            &:nth-child(2) dt { background-color:$gray1; color:$gray7; }
          }
          dd { width:80%; float:left; padding:vw(5) 0 0; font-size:vw(24); line-height:vw(32); font-weight:$medium; }
        }
      }
    }



  }
}
