@charset "UTF-8";

.signup_top_wrap {
  padding:vw(40) vw(40) 0;
  // signup common start
  .signup {
    position:relative;
    @extend %clearfix;
    li:nth-child(1) { float:left; }
    li:nth-child(2) {
      float:left;
      @include posxCenter(vw(95), absolute);
      & .signup_row:before {
        content:""; height:vw(6); position:absolute; top:50%; left:50%; background-color:$gray2; z-index:-1;
        @include posxCenter(vw(482), absolute);
      }
    }
    li:nth-child(3) { float:right; }
    .signup_row {
      width:vw(90); height:vw(90); position:relative; background-color:$gray1; border:vw(4) solid $gray1; border-radius:100%; box-sizing:border-box;
      .signup_number { padding:vw(28) 0 0 0; color:$gray4; font-size:vw(36); font-weight:$bold; text-align:center; }
      .signup_check { width:vw(70); height:vw(70); display:none; padding:vw(5) 0 0 vw(5); }
      &.active {
        background-color:$white; border:vw(4) solid $green1;
        .signup_number { color:$green1; }
      }
      &.checked {
        background-color:$green1; border:vw(4) solid $green1;
        .signup_number { display:none; }
        .signup_check { display:block; }
      }

    }
    .signup_txt { padding:vw(24) 0 0 0; color:$gray4; font-size:vw(24); font-weight:$medium; letter-spacing:vw(-1); }
    .signup_row.active ~ .signup_txt, .signup_row.checked ~ .signup_txt { color:$gray9;}
  }
  // signup common end
  // terms start
  .member_terms {
    padding:vw(70) 0 0;
    .terms_explanation { color:#414549; font-size:vw(26); letter-spacing:vw(-0.6); line-height:vw(40);  }
    .terms_agree_all {
      width:100%; margin:vw(40) 0 0 0; background-color:$gray1; border-radius:vw(20);
      .form_type03_2 {
        display:flex; align-items:center; padding:vw(32) vw(40);
        label {
          padding-top:vw(6); color:$gray7; font-size:vw(28); font-weight:$medium; letter-spacing:vw(-1); line-height:vw(41);
          &:before { background-color:$gray4; }
        }
        & input[type="checkbox"]:checked + label { color:$gray9; }
      }
    }
    .terms_agree_each {
      padding:vw(51) 0 0 vw(44);
      .form_type03_1 {
        padding-bottom:vw(36);
        label { font-weight:$medium; letter-spacing:vw(-0.6); }
        & input[type="checkbox"]:checked + label { color: $gray9; }
      }
    }
  }
  // terms end
  //registration start
  .registration_input {
    padding:vw(70) 0 0;
    .form_type01 {
      padding:0 0 vw(24) 0;
      div.correct_msg + span { letter-spacing:vw(-1); }
    }
  }
  //registration end
  //self-authentication start
  .member_pass {
    padding:vw(70) 0 0;
    .pass_explanation { padding:0 0 vw(40); color:#414549; font-size:vw(26); letter-spacing:vw(-0.6); line-height:vw(40); }
    .btn_default {
      color:$gray7; font-size:vw(30); font-weight:$semi-bold; line-height:vw(38); background-color:$gray1; letter-spacing:vw(-1);
      &:disabled { color:$gray5; background-color:#E4E7EC; }
    }
  }
  //self-authentication end
}

.signup_done {
  padding:vw(70) vw(40) 0;
  .done_title { font-size:vw(44); line-height:vw(64); letter-spacing:vw(-0.6); }
  .done_explanation { padding:vw(34) 0 vw(160); font-size:vw(28); line-height:vw(40); color:$gray7; }
}

// service start
.terms_service_wrap {
  padding:vw(50) vw(40) 0;
  .service_title { padding:0 0 vw(50); font-size:vw(44); line-height:vw(64); font-weight:$medium; letter-spacing:-0.6px; }
  .service_cont { color:$gray5; font-size:vw(24); line-height:vw(38); letter-spacing:vw(-0.6); }
}
// service end



.signup_btn_wrap01 {
  padding: 0 vw(40) 0;
  .btn_default { width:vw(640); position:fixed; bottom:vw(120); letter-spacing:vw(-1); }
}
.signup_btn_wrap01-1 { padding: 0 vw(40) 0; }
.signup_btn_wrap02 {
  position:fixed; bottom:vw(120); padding:0 vw(40);
  .btn_default {
    width:vw(314); float:left;
    &:last-child { margin:0 0 0 vw(12); }
  }
}

//registration page email 부분 css
.form_type01 div input.validField { background-color:#fff; border-color:#000; }
.form_type01 div.pw_chk.error_msg input.validField  { border-color: #f02121; }
