@charset "UTF-8";

/* 과장님과 공통 start */
.mypage_wrap {
    letter-spacing:vw(-0.6);
    .my_profile {
        padding:0 vw(40) vw(40);
        .title_wrap {
            display:flex; justify-content:space-between; align-items:center;
            h2 { color:$gray9; font-size:vw(40); line-height:vw(64); font-weight:$semi-bold; }
            a { display:inline-block; font-size:vw(24); line-height:vw(52); padding:0 vw(22); background-color:$gray1; color:$gray7; font-weight:$medium; border-radius:vw(10)}
        }
        .my_profile_ui { margin:vw(40) 0 0; }
        &.bg {
            background-color:$green1;
            .title_wrap h2 { color:$white; }
            .my_profile_ui {
                .info_wrap {
                    .user_name { color:$white; }
                    .user_info {
                        @include opacity(.7);
                        ul {
                            &:before { color:$white; }
                            li {
                                color:$white;
                                &:before { background-color:$white; }
                            }
                        }
                    }
                }
            }
        }
    }
    .sub_title_wrap {
        padding:0 vw(40) vw(40); /*border:1px solid blue;*/
        h2 { color:$gray9; font-size:vw(40); line-height:vw(64); font-weight:$semi-bold; }
    }
    /* 과장님과 공통 end */
    /* 계정 설정 상단 start */
    .account_set {
        .account_info_wrap {
            padding:vw(60) vw(40) 0;
            .form_type02 {
                padding:0 0 vw(39);
                dd { display: flex; justify-content: space-between; }
                &.account_password {
                    #txt_password { width:vw(486); }
                    .btn_default { width:vw(142); height:vw(98); font-size:vw(26); }
                }
                &.account_phone {
                    padding:0 0 vw(29);
                    #txt_phone_number { width:vw(438); }
                    .btn_default { width:vw(190); height:vw(98); font-size:vw(26);  }
                }
            }
        }
    }
    /* 계정 설정 상단 end */
    /* 계정 설정 하단(멤버십 정보) start */
    .membership_wrap {
        padding:vw(90) vw(40) 0;
        .membership_title { display:block; padding:0 0 vw(40); font-size:vw(30); font-weight:$semi-bold; }
        .membership_info {
            padding:vw(24) 0 vw(24) vw(30); border-radius:vw(15); color:$white; font-size:vw(26); font-weight:$bold; line-height:vw(32);
            &.membership_normal { background-color:$green1; }
            &.membership_vip {
                background-color:$gray9;
                .membership_member { padding:0 0 0 vw(42); margin: 0 0 0 vw(5); background:url(../../images/mypage/membership_vip.svg) center left /contain no-repeat; }
            }
        }
        /* 결제 활성화 start */
        .payment_details {
            padding:vw(29) vw(39) vw(40) vw(37); margin:vw(20) 0 vw(16); border:vw(3) solid $violet1; border-radius:vw(15); box-sizing:border-box;
            .form_type03_2 {
                padding:0 0 vw(40);
                input[type="checkbox"] {
                    left:inherit; right:0;
                    & + label {
                        display:block; padding:0 vw(40) 0 0; color:$gray9; font-size:vw(28);
                        &:before { left:inherit; right:0; }
                        &:after { left:inherit; right:0; }
                    }
                    &:checked + label:before { background-color:$violet1; }
                }
            }
            .membership_list_cont {
                padding:0 0 vw(30);
                ul {
                    display: flex; justify-content: space-between; padding:0 0 vw(26) 0;
                    li:nth-child(1) { width:25%; color:$gray7; font-size:vw(26); }
                    li:nth-child(2) {
                        width:70%; color:$gray9; font-size:vw(28); font-weight:$semi-bold; text-align:right; line-height:vw(40);
                        strong { font-size:vw(30); font-weight:$semi-bold; }
                    }
                    &:last-child { padding:0; }
                }
            }
            .payment_details_btn {
                text-align:right;
                .membership_check_btn {
                    position:relative; color:$gray5; font-size:vw(24);
                    &:before { width:100%; height:vw(2); content:""; position:absolute; bottom:vw(-4); left:0; background-color:$gray5; }
                }
            }
        }
        /* 결제 활성화 end */
        .membership_li {
            display: flex; justify-content: space-between; padding:vw(42) vw(34) vw(42) vw(40); margin:vw(20) 0 vw(16); background-color:$gray1; color:$gray9; text-align:left; border-radius:vw(15);
            .membership_li_tit { width:70%; color:$gray9; font-size:vw(28); overflow:hidden; white-space: normal; }
            .membership_go {
                position:relative; padding:0 vw(44) 0 0; color:$gray7; font-size:vw(24);
                &:before {
                    width:vw(34); height:vw(34); content:""; position:absolute; top:50%; right:0; background:url(../../images/mypage/membership_arrow.svg) center/130% no-repeat;
                    @include translate(0, -55%);
                }

            }
        }
    }
    /* 계정 설정 하단(멤버십 정보) end */
    /* 회원 탈퇴하기 start */
    .account_btn {
        padding:vw(64) vw(40) vw(120);
        .btn_default { background-color:#e1e5e8; }
    }
    /* 회원 탈퇴하기 end */

    /* 멤버십 선택 start */
    .membership_list_wrap {
        padding:vw(10) vw(40) vw(262);
        > strong { line-height:vw(32); font-size:vw(30); font-weight:$medium; }

        .membership_table {
            margin:vw(30) 0 vw(52); border:vw(1) solid $gray2; font-size:vw(24); font-weight:$semi-bold; text-align:center;
            thead {
                tr {
                    border-right:vw(2) solid $gray2;
                    th {
                        width:vw(203); padding:vw(28) 0 vw(26) 0; color:$gray5; background-color:$gray1; border-bottom:vw(1) solid $gray2; border-right:vw(1) solid $gray2; text-align: center;
                        &:nth-child(1) { width:vw(247); padding-left:vw(30); text-align:left; }
                        &.vip { border:vw(2) solid $violet1; border-bottom:vw(2) solid rgba(156, 4, 250, 0.5); color:$violet1; background-color:rgba(156, 4, 250, 0.16); }
                    }
                }
            }
            tr {
                border-right:vw(2) solid $gray2;
                th { padding-left:vw(30); text-align:left; color:$gray7; border-bottom:vw(1) solid $gray2; border-right:vw(1) solid $gray2; }
                td { padding:vw(30) 0 vw(28) 0; color:$gray4; line-height: vw(36); border-bottom:vw(1) solid $gray2; border-right:vw(1) solid $gray2;
                    &.vip {
                        border:vw(2) solid $violet1; border-bottom:vw(1) solid rgba(156, 4, 250, 0.08); border-top:none; color:$violet1; background-color:rgba(156, 4, 250, 0.08);
                        strong { font-size:vw(28); font-family:$SUIT; }
                    }
                }
                &:last-child td.vip { border-bottom:vw(1) solid $violet1; }
            }
        }
        .vip_guide {
            position:relative; padding:vw(32) vw(40); background-color:$gray1; border-radius:vw(15); font-size:vw(26); font-weight:$medium; line-height:vw(40);
            &:before { width:vw(41); height:vw(30); content:""; position:absolute; top:vw(-24); right:vw(80); background:url(../../images/mypage/vip_guide_polygon.svg) center/cover no-repeat; }
        }
        /* 멤버십 선택 end */

        /* 신용카드 등록 start */
        .credit_list {
            padding:vw(30) 0 0;
            .form_type01 { padding:0 0 vw(24); }
        }
        /* 신용카드 등록 end */
        /* 등록된 결제 수단 start */
        .edit_btn {
            float:right; font-size:vw(24); line-height:vw(32); color:$gray5; font-weight:$medium;
            &.save { color:$gray9; }
        }
        .registered_credit {
            > ol {
                padding:vw(40) 0;
                li {
                    display:flex; position:relative; padding:vw(27) 0 vw(28) vw(45); margin:0 0 vw(30); justify-content: space-between;
                    .registered_cont {
                        font-size:vw(26);
                        strong { position:relative; color:$gray9; font-weight:$medium; }
                        p { padding:vw(18) 0 0 0; color:$gray5; font-family:$SUIT; }
                    }
                    > button {
                        height: vw(52); padding:0 vw(20); color:$gray7; font-size: vw(24); border-radius:vw(10); background-color:$gray1; font-weight:$medium;
                        &.list_btn {
                            width:vw(40); padding:0; background-color:inherit; background:url(../../images/mypage/credit_list.svg)center/cover no-repeat;
                        }
                    }
                    &.first_credit strong {
                        position: relative;
                        &:before { width:vw(48); height:vw(48); content:""; position:absolute; top:vw(-12); right:vw(-50); background:url(../../images/common/icon_chk_black.svg) center/cover no-repeat;}
                    }
                    &:last-child { margin:0; }
                    &:before {
                        width:vw(14); height:vw(100); content:""; position:absolute; top:50%; left:0; border-radius:vw(50);
                        @include translate(0, -50%);
                    }
                    &.yellow:before { background-color:#ffd675; }
                    &.green:before { background-color:$green1; }
                    &.blue:before { background-color:#3fc6f1; }
                };
            }
            .btn_default { margin:0 0 vw(40); }
        }

        /* 등록된 결제 수단 end */
        /* 결제정보 확인 start */
        .payment_info_chk {
             margin:vw(40) 0;
            > em { display:block; padding:vw(36) vw(40); color:$white; background-color:$violet1; font-size:vw(28); line-height:vw(32); border-radius:vw(15) vw(15) 0 0; font-weight:$semi-bold; }
            .membership_list { padding:vw(40) vw(39) vw(36) vw(40); border:vw(3) solid $violet1; border-radius:0 0 vw(15) vw(15); box-sizing:border-box; }
            .membership_list_cont {
                padding:0 0 vw(30);
                ul {
                    display: flex; justify-content: space-between; padding:0 0 vw(26) 0;
                    li:nth-child(1) { color:$gray7; font-size:vw(26); }
                    li:nth-child(2) {
                        width:70%; color:$gray9; font-size:vw(28); font-weight:$medium; text-align:right; line-height:vw(40);
                        strong { font-size:vw(30); font-weight:$semi-bold; }
                    }
                    &:last-child { padding:0; }
                }
            }
            .payment_details_btn {
                text-align:right;
                .membership_check_btn {
                    position:relative; color:$gray5; font-size:vw(24);
                    &:before { width:100%; height:vw(2); content:""; position:absolute; bottom:vw(-4); left:0; background-color:$gray5; }
                }
            }
            .membership_disclaimer { padding:vw(16) 0 0 0; }
        }
        /* 결제정보 확인 end */
        .payment_agree_all {
             padding:vw(32) vw(42); background-color:$gray1; border-radius:vw(15);
            .form_type03_2 {
                display:flex; justify-content:space-between; align-items: center;
                > button {
                    width:vw(56); height:vw(56); position:relative; text-indent:-999999px;
                    &:after { width:100%; height:100%; content:""; position:absolute; top:0; left:0; background:url(../../images/common/icon_arrow2.svg) center/cover no-repeat;
                        @include transition(all, 0.2s, ease);
                        @include rotate(-90);
                    }
                }
                label { width:80%; }
                input[type="checkbox"]:checked ~ label:before { background-color:$violet1; }
            }
            &.active .form_type03_2 button:after { @include rotate(90) }
        }
        .payment_agree_singly {
            padding:vw(36) vw(40) 0 vw(44); overflow:hidden;
            .form_type03_1 {
                display:flex; padding:0 0 vw(30); justify-content:space-between; align-items:center;
                label { width:80%; }
                .btn {
                    width:vw(48); height:vw(48); text-indent:-999999px; background:url(../../images/common/icon_arrow3_gray.svg) center/cover no-repeat;
                }
                input[type="checkbox"]:checked ~ .btn { background-image:url(../../images/common/icon_arrow3_black.svg); }
            }
        }
    }

    /* membership 버튼 공통 start */
    .membership_btn {
        position:fixed; bottom:vw(120); left:vw(40);
        .btn_default { width:vw(640); }
    }
    .membership_btn02 {
        width:vw(640); display:flex; position:fixed; bottom:vw(120); left:vw(40); justify-content:space-between;
        .btn_default { width:vw(314); }
    }
    .membership_btn03 {
        width:vw(640); padding:0 vw(40) vw(120); display:flex; justify-content:space-between;
        .btn_default { width:vw(314); }
    }
    /* membership 버튼 공통 end */
    /* 회원탈퇴 start */
    .withdrawal_wrap {
        padding:0 vw(40);
        .withdrawal_title {
            padding:0 0 vw(16); font-weight:$medium; font-size:vw(30); line-height:vw(32);
            & .level.normal { color:$green3; }
        }
        .withdrawal_txt span { font-size: vw(24); line-height: vw(38); letter-spacing: vw(-0.01); color:$gray4; }
        .withdrawal_info {
            padding:vw(50) 0; border-bottom:vw(2) solid $gray2; box-sizing:border-box;
            .form_type02 {
                padding:0 0 vw(40);
                &:last-child { padding:0; }
            }
        }
        .withdrawal_chk {padding:vw(50) 0 0 0; }
    }
    .withdrawal_btn {
        padding:vw(202) vw(40) vw(120);
        .btn_default { margin:vw(50) 0 0; }
    }
    /* 회원탈퇴 end */
    .payment_txt {
        padding:0 vw(40) vw(10);
        > div { padding:vw(26) 0; background-color:$gray05; border-radius:vw(16); text-align:center; font-size: vw(24);
            line-height: vw(36); }
    }
    .payment_wrap {
        .payment_items {
            position:relative; padding:vw(58) vw(40) vw(90);
            &:after { width:100%; height:vw(16); content:""; position: absolute; bottom:0; left:0; background-color:$gray05; }
            &:last-child:after { display:none; }
        }
        .payment_title {
            display:flex; justify-content:space-between;
            > strong { width:80%; display:flex; align-items:center; font-size:vw(28); line-height:vw(40); font-weight:$medium; }
            > span {
                max-height:vw(52); display:inline-block; padding:vw(6) vw(20); font-size:vw(24); line-height:vw(40); font-weight:$medium; background-color:$gray1; border-radius:vw(50);
                &.payment_complete { color:#008A69; }
                &.payment_cancel { color:$red; }
            }
        }
        .payment_cont_wrap {
            padding:vw(44) 0 0;
            ul {
                padding:vw(18) 0 0; display:flex; flex-wrap:wrap; line-height:vw(32);
                &:nth-child(1) { padding:0; }
            }
            li:nth-child(1) { width:vw(137); display:flex; align-items:center; font-size:vw(24); color:$gray7; }
            li:nth-child(2) {
                width:vw(493); font-size:vw(28); line-height:vw(32); font-weight:$medium; font-family:$SUIT;
                strong { font-weight:$regular; font-family:$NotosansKR; }
                span { margin:0 vw(6) 0 0; color:$gray4; text-decoration:line-through; }
            }
        }
        &.list_no {
        min-height:vw(500); display:flex; justify-content:center; align-content:center; align-items: center;
        > div > img { width:vw(235); display:block; margin:0 auto; }
        > div > p { padding:vw(42) 0 0; font-size: vw(26); font-weight:$medium; text-align:center; line-height: vw(38); color:$gray5; }
        }
    }


    /* 과장님css-------------------------------start */
    .status_wrap {
        padding:0 vw(40); margin:0 0 vw(58); position:relative;
        &:before { width:50%; height:100%; content:""; background-color:$green1; position:absolute; top:0; left:0; z-index:-2; }
        &:after { width:50%; height:calc(100% - 11.38889vw); content:""; background-color:$white; position:absolute; top:vw(82); left:0; border-radius:vw(50) 0 0 0; z-index:-1; }
        ul {
            padding:vw(30) 0; display:flex; justify-content:space-around; background-color:$green05; border-radius:vw(20);
            &:after { width:50%; height:vw(82); content:""; background-color:$green1; position:absolute; top:0; right:0; border-radius:0 0 vw(50) 0; z-index:-1; }
            li {
                width:33.333%; text-align:center; position:relative;
                a { display:block; }
                strong { display:block; color:#03a084; font-weight:$bold; font-size:vw(40); line-height:vw(50); letter-spacing:vw(0); }
                span { display:block; color:$gray9; font-size:vw(24); line-height:vw(36); letter-spacing:vw(-1); font-weight:$medium; }
                &:before { width:vw(2); height:100%; background-color:#ccede7; content:""; position:absolute; top:0; left:0; }
                &:first-child:before { display:none; }
                p strong, p span { color:$gray9; @include opacity(.2); }
            }
        }
        div { margin:vw(18) 0 0; position:relative; z-index:1; }
    }

    /* 기본정보 */
    .profile_details {
        padding:0 vw(40) vw(242);
        > div {
            margin:vw(50) 0 0; padding:vw(50) 0 0; border-top:vw(2) solid $gray2;
            &:first-child { padding:0; margin:0; border:none; }
            > strong { display:block; font-size:vw(32); line-height:vw(52); margin:0 0 vw(29); }
        }
        .photo {
            margin:0 0 vw(25); display:flex; flex-wrap:wrap;
            li {
                width:vw(160); height:vw(160); margin:0 vw(10) vw(10) 0; background-repeat:no-repeat; background-size:cover; background-position:50% 50%; overflow:hidden; border-radius:vw(10);
                &:last-child { margin:0; }
                &.my_pick {
                    position:relative;
                    &:before { content:"대표"; padding:vw(8) vw(12); font-size:vw(20); border-radius:vw(10) 0; font-weight:$medium; background-color:$green1; color:$white; display:inline-block; }
                }
            }
        }
        .info_type01 {
            .info_list {
                li {
                    margin:vw(19) 0 0; position:relative; font-size:vw(24); line-height:vw(40); color:$gray4; padding:0 0 0 vw(192);
                    span { position:absolute; top:0; left:0; color:$gray5; font-size:vw(26) }
                    strong { color:$gray9; font-weight:$semi-bold; font-size:vw(26) }
                    &:first-child { margin:0; }
                }
            }
        }
        .info_type02 {
            .info_list {
                li {
                    margin:vw(19) 0 0; position:relative; font-size:vw(26); line-height:vw(40); color:$gray9; padding:0 0 0 vw(272); color:$gray9; font-weight:$semi-bold;
                    span { position:absolute; top:0; left:0; color:$gray5; font-size:vw(26); font-weight:$regular; }
                    &:first-child { margin:0; }
                }
            }
        }
        .info_type03 {
            p { background-color:$gray1; border-radius:vw(20); padding:vw(30); font-size:vw(26); line-height:vw(40); color:$gray7; }
        }
    }

    /* 내 정보 수정 */
    .profile_modify {
        border-top:vw(16) solid $gray05;
        > div {
            padding:vw(50) vw(40); border-top:vw(16) solid $gray05;
            &:first-child { border:none; }
            > strong { display:block; color:$black; font-size:vw(30); font-weight:$semi-bold; line-height:vw(52); margin:0 0 vw(30); }
        }
        .photo {
            margin:0 0 vw(60);
            .photo_list {
                display:flex; flex-wrap:wrap;
                li {
                    width:33.333%; overflow:hidden; margin:0 0 1.5%;
                    //&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6) { margin:0; }
                    &:nth-of-type(3n+1) .photo_box { float:left; }
                    &:nth-of-type(3n+2) .photo_box { margin:0 auto; }
                    &:nth-of-type(3n+3) .photo_box { float:right; }
                    &.my_pick {
                        .photo_box:before { content:"대표"; padding:vw(8) vw(12); font-size:vw(20); border-radius:0 0 vw(10) 0; font-weight:$medium; background-color:$green1; color:$white; display:inline-block; position:absolute; top:0; left:0; z-index:1; }
                    }
                    .photo_box { width:97%; padding:97% 0 0; background-position:50% 50%; background-repeat:no-repeat; background-size:cover; position:relative; }
                    .btn_add_photo {
                        width:100%; height:100%; position:absolute; top:0; left:0; background-color:$gray1; text-indent:-99999px;
                        &:before {
                            width:vw(40); height:vw(40); content:""; position:absolute; top:50%; left:50%; background:url(../../images/common/btn_more.svg) no-repeat 50% 50%; background-size:cover;
                            @include translate(-50%, -50%);
                        }
                    }
                    .btn_delete_photo { position:absolute; top:0; right:0; width:vw(44); height:vw(44); text-indent:-99999px; background:url(../../images/common/btn_page_close_white.svg) no-repeat 50% 50% rgba(1, 5, 9, 0.4); background-size:cover; }
                }
            }
            .noti_wrap {
                text-align:center;
                p { display:inline-block; }
            }
        }
        .modify_forms {
            > div {
                margin:vw(50) 0 0;
                &:first-child { margin:0; }
                &.form_half {
                    display:flex; justify-content:space-between;
                    div { width:calc(50% - 0.83333vw) }
                }
            }
            .form_phone dd {
                display:flex; justify-content:space-between;
                input { width:calc(100% - 28.05556vw) }
                button { width:vw(190) }
            }
        }
    }

    /* 기간제 멤버십  */
    .fixed_term {
        padding:vw(10) vw(40) vw(40);
        .membership_list {
            margin:0 0 vw(16);
            li {
                margin:vw(16) 0 0; position:relative;
                input[type="checkbox"],input[type="radio"] {
                    position:absolute; top:0; left:0; z-index:-1; opacity:0;
                    & + label {
                        display:block; border-radius:vw(20); border:vw(2) solid $gray2;
                        .info {
                            padding:vw(30) vw(40);
                            p {
                                position:relative; padding:0 0 0 vw(74);
                                &:before {width:vw(52); height:vw(52); content:""; box-sizing:border-box; background-color:$gray2; position:absolute; top:0; left:0; border-radius:100%;}
                                &:after {
                                    width:vw(48); height:vw(48); content:""; display:block; position:absolute; top:vw(2); left:vw(2); background-image:url(../../images/common/icon_chk_white_circle.svg);
                                    @include backgroundSoltC();
                                }
                                strong { display:block; font-size:vw(30); line-height:vw(40); padding:vw(8) 0 vw(16); font-weight:$semi-bold; }
                                span { display:block; font-size:vw(24); line-height:vw(32) }
                            }
                        }
                        .price {
                            font-size:0; padding:vw(42) vw(40) vw(40); text-align:right; position:relative;
                            &:before {
                                width:100%; height:vw(2); position:absolute; top:0; left:0; content:""; background:url(../../images/common/dashed_line.svg) repeat-x 0 0;
                            }
                            span, strong { display:inline-block; vertical-align:middle; }
                            span {
                                font-size:vw(26); font-weight:$regular; color:$gray4; position:relative; margin:0 vw(20) 0 0;
                                &:after { width:100%; height:vw(1); background-color:$gray4; position:absolute; top:50%; left:0; content:""; }
                                em { font-size:vw(28); font-weight:$medium; }
                            }
                            strong {
                                font-size:vw(28); font-weight:$regular; color:$gray9;
                                em { font-size:vw(34); font-weight:$bold; }
                            }
                        }
                    }
                    &:checked ~ label {
                        background-color:$violet1;
                        .info {
                            p {
                                &:before { background-color:$white; }
                                &:after { background-image:url(../../images/common/icon_chk_violet_circle.svg) }
                                strong, span { color:$white; }
                                span { @include opacity(.6); }
                            }
                        }
                        .price {
                            &:before { @include opacity(.3); }
                            span, strong { color:$white; }
                            span { @include opacity(.6); }
                            span:after { background-color:$white; }
                        }
                    }
                }
            }
            li:first-child { margin:0; }
        }
    }

    /* 버튼 */
    .btn_wrap {
        margin:vw(50) 0 0; box-sizing:border-box; padding:0 vw(40);
        &.btn_half {
            display:flex; justify-content:space-between;
            .btn_default { width:calc(50% - 0.83333vw) }
        }
    }
}



