@charset "UTF-8";
@import "./_common/base";
@import "./layout";
@import "./main";
@import "./member";
@import "./join";
@import "./mypage";
@import "./customer";

/* common css */
//기본 스타일
::selection { background:$white; color:$black; text-shadow:none; }
::-moz-selection { background:$white; color:$black; text-shadow:none; }
img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}

//hidden text
.hidden-txt,
legend {width:0; height:0; overflow:hidden; display:inline-block; text-indent:-9999px; line-height:1px; position:absolute;}

.guide_line {
	&:before,
	&:after {width:1px; height:100vh; display:block; content:""; position:fixed; background-color:$red; opacity:.7; z-index:1000;}
	&:before { left:vw(40);}
	&:after { right:vw(40); }
	.guide_center {width:1px; height:100vh; display:block; content:""; position:fixed; background-color:$red; opacity:.7; left:50%; z-index:1000;}
}

/* popup style */
.popup {
	position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; display:none; justify-content:center; align-items:center;
	&.max_cont {
		@include boxSizing;
		.popup_wrap {height:fit-content;display:flex;justify-content:center;align-items:center;}
		.popup_content {height:auto; overflow:hidden;}
	}
	&.active {display:flex;}
	.popup_wrap {width:100%; box-sizing:border-box;}
	.popup_content {position:relative; z-index:2; margin:0 auto; box-sizing:border-box;}
	.btn_popup_close {
		position:absolute; top:0; right:0; z-index:3; width:vw(50); height:vw(50);
	}
	.dimmed {width:100%; height:100%; background:rgba(0, 0, 0, 0.5); position:absolute; top:0; left:0; z-index:1;}
}

.guide-style {
	/*max-width:800px;*/ margin:50px auto 0; padding:0 20px;
	> h2 {margin:0 0 vw(20); font-size:vw(36)}
	> strong {font-size:vw(30); display:block; padding:0 0 vw(10)}
	> em {font-size:vw(24); display:block; color:$gray5; padding:0 0 vw(20)}
}

/* form style */
.form_type01 {
	div {
		position:relative;
		input {
			width:100%; font-size:vw(34); line-height:vw(46); padding:vw(60) vw(40) vw(24); color:$gray9; box-sizing:border-box; border-radius:vw(20); border:vw(2) solid $gray1; background-color:$gray1; letter-spacing:vw(-0.6);
			@include transition();
			//&.validField, &:focus {outline:none; background-color:$white; border-color:$black;}
			&:focus {outline:none; background-color:$white; border-color:$black;}
			&::-webkit-input-placeholder { color: $gray4; } /* Edge */
			&:-ms-input-placeholder { color: $gray4; } /* Internet Explorer 10-11 */
			&::placeholder { color: $gray4; }
		}
		label { position:absolute; top:vw(24); left:vw(40); color:$gray7; font-size:vw(22); line-height:vw(32); font-weight:$medium; letter-spacing:vw(-1); }
		button { display:none; position:absolute; bottom:vw(24); right:vw(30); padding:0 vw(20); font-size:vw(23); line-height:vw(45); color:$gray5; background-color:$gray1; border-radius:vw(10); z-index:2; letter-spacing:vw(-1); }
		&.error_msg {
			input, input:focus { border-color:$red !important; background-color:$white; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$red; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
		}
		&.correct_msg {
			&:after {
				width:vw(46); height:vw(46); position:absolute; top:vw(64); right:vw(40); content:""; background-image:url(../../images/common/icon_correct.svg);
				@include backgroundSoltC();
			}
			input, input:focus { border-color:$gray1; background-color:$gray1 }
			input.validField { border-color:$gray1 !important; background-color:$gray1 !important }
			input.validField ~ button { opacity:0 !important; display:none; }
			input.validField:focus ~ button { opacity:0 !important; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$blue; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
		}
		&.pw_chk {
			button { display:block; opacity:0; }
			input {
				&.validField { background-color:$white; border-color:$black; }
				&.validField ~ button { opacity:1; }
				&.validField:focus ~ button { opacity:1; }
			}
		}
	}
}
.form_type02 {
	//border:1px solid green;
	dl {
		dt {
			color:$gray7; font-size:vw(24); line-height:vw(36); margin:0 0 vw(10);
			em { display:inline-block; text-indent:-99999px; }
			.required {
				&:after { content:"*"; color:$red; }
			}
		}
		dd {
			position:relative;
			input[type=text], input[type=password] {
				width:100%; font-size:vw(26); line-height:vw(38); padding:vw(28) vw(30); border-radius:vw(16); color:$gray9; border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box; letter-spacing:vw(-0.6); font-weight:$semi-bold;
				&:focus {outline:none; background-color:$white; border-color:$black;}
				&::-webkit-input-placeholder { color: $gray4; font-weight:$regular; } /* Edge */
				&:-ms-input-placeholder { color: $gray4; font-weight:$regular; } /* Internet Explorer 10-11 */
				&::placeholder { color: $gray4; font-weight:$regular; }
				&:disabled { background-color:$gray2; color:$gray4; }
			}
			select {
				width:100%; font-size:vw(26); line-height:vw(38); padding:vw(28) vw(88) vw(28) vw(30); border-radius:vw(16); border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box; letter-spacing:vw(-0.6); color:$gray5;
				background-image:url(../../images/common/icon_arrow.svg); background-repeat:no-repeat; background-position:calc(100% - 4.16667vw) 50%; background-size:vw(38) vw(38);
				&:focus { outline:none; background-color:$white; border-color:$black; color:$gray9; }
				&:visited { color:$gray9; }
				&.validField { color:$gray9; font-weight:$semi-bold; }
				&:disabled { background-color:$gray2; color:$gray4; }
			}
			textarea {
				width:100%; font-size:vw(26); line-height:vw(40); border-radius:vw(20); padding:vw(30) vw(36) vw(100); color:$gray9; font-weight:$semi-bold; border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box;
				&:focus { outline:none; background-color:$white; border-color:$black; color:$gray9; }
				&::-webkit-input-placeholder { color: $gray4; font-weight:$regular } /* Edge */
				&:-ms-input-placeholder { color: $gray4; font-weight:$regular } /* Internet Explorer 10-11 */
				&::placeholder { color: $gray4; font-weight:$regular }
			}
			span { position:absolute; font-size:vw(26); bottom:vw(24); right:vw(36); color:$gray4; font-weight:$semi-bold; font-family:$SUIT; }
		}
		&.correct_msg {
			position:relative;
			input[type=text], input[type=password] { padding:vw(30) vw(90) vw(26) vw(30); }
			input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus { border-color:$gray1; background-color:$gray1; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$blue; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
			&:after {
				width:vw(46); height:vw(46); position:absolute; top:vw(70); right:vw(30); content:""; background-image:url(../../images/common/icon_correct.svg);
				@include backgroundSoltC();
			}
		}
		&.error_msg {
			input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus { border-color:$red !important; background-color:$white; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$red; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
		}
	}
	> div {
		> input[type=text], > input[type=password] {
			width:100%; font-size:vw(26); line-height:vw(38); padding:vw(28) vw(30); border-radius:vw(16); color:$gray9; border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box; letter-spacing:vw(-0.6); font-weight:$semi-bold;
			&:focus {outline:none; background-color:$white; border-color:$black;}
			&::-webkit-input-placeholder { color: $gray4; font-weight:$regular; } /* Edge */
			&:-ms-input-placeholder { color: $gray4; font-weight:$regular; } /* Internet Explorer 10-11 */
			&::placeholder { color: $gray4; font-weight:$regular; }
			&:disabled { background-color:$gray2; color:$gray4; }
		}
		> select {
			width:100%; font-size:vw(26); line-height:vw(38); padding:vw(28) vw(88) vw(28) vw(30); border-radius:vw(16); border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box; letter-spacing:vw(-0.6); color:$gray5;
			background-image:url(../../images/common/icon_arrow.svg); background-repeat:no-repeat; background-position:calc(100% - 4.16667vw) 50%; background-size:vw(38) vw(38);
			&:focus { outline:none; background-color:$white; border-color:$black; color:$gray9; }
			&:visited { color:$gray9; }
			&.validField { color:$gray9; font-weight:$semi-bold; }
			&:disabled { background-color:$gray2; color:$gray4; }
		}
		&.correct_msg {
			position:relative;
			input[type=text], input[type=password] { padding:vw(30) vw(90) vw(26) vw(30); }
			input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus { border-color:$gray1; background-color:$gray1; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$blue; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
			&:after {
				width:vw(46); height:vw(46); position:absolute; top:vw(26); right:vw(30); content:""; background-image:url(../../images/common/icon_correct.svg);
				@include backgroundSoltC();
			}
		}
		&.error_msg {
			input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus { border-color:$red !important; background-color:$white; }
			+ span { display:block; font-size:vw(24); line-height:vw(36); color:$red; padding:vw(12) vw(20) 0; letter-spacing:vw(-1); }
		}
	}

}
.form_type03 {
	position:relative;
	textarea {
		width:100%; font-size:vw(26); line-height:vw(40); border-radius:vw(20); padding:vw(30) vw(36) vw(100); color:$gray7; font-weight:$semi-bold; border:vw(2) solid $gray1; background-color:$gray1; box-sizing:border-box;
		&:focus { outline:none; background-color:$white; border-color:$black; color:$gray9; }
		&::-webkit-input-placeholder { color: $gray4; font-weight:$regular; } /* Edge */
		&:-ms-input-placeholder { color: $gray4; font-weight:$regular; } /* Internet Explorer 10-11 */
		&::placeholder { color: $gray4; font-weight:$regular; }
	}
	span { position:absolute; font-size:vw(26); bottom:vw(24); right:vw(36); color:$gray4; font-weight:$semi-bold; font-family:$SUIT; }
}
.form_type03_1 {
	position:relative;
	input[type="checkbox"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		& + label {
			display:inline-block; padding:0 0 0 vw(60); font-size:vw(30); color:$gray4; line-height:vw(48); position:relative;
			&:after {
				width:vw(48); height:vw(48); content:""; display:block; position:absolute; top:0; left:0; background-image:url(../../images/common/icon_chk_gray.svg);
				@include backgroundSoltC();
			}
		}
		&:checked ~ label {
			color:$gray9;
			&:after { background-image:url(../../images/common/icon_chk_black.svg); }
		}
	}
	input[type="radio"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		& + label {
			display:inline-block; padding:0 0 0 vw(60); font-size:vw(26); color:$gray5; line-height:vw(48); position:relative;
			&:before { width:vw(40); height:vw(40); content:""; border-radius:100%; box-sizing:border-box; background-color:$gray2; position:absolute; top:vw(4); left:vw(4); }
			&:after {
				width:vw(14); height:vw(14); border-radius:100%; content:""; display:block; position:absolute; top:vw(17); left:vw(17); background-color:$white;
			}
		}
		&:checked ~ label {
			color:$gray7;
			&:before { background-color:$violet1; }
		}
	}
}
.form_type03_2 {
	position:relative;
	input[type="checkbox"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		& + label {
			display:inline-block; padding:0 0 0 vw(60); font-size:vw(30); color:$gray5; line-height:vw(48); position:relative; letter-spacing:vw(-1);
			&:before {width:vw(48); height:vw(48); content:""; box-sizing:border-box; background-color:$gray2; position:absolute; top:0; left:0; border-radius:100%;}
			&:after {
				width:vw(48); height:vw(48); content:""; display:block; position:absolute; top:0; left:0; background-image:url(../../images/common/icon_chk_white_circle.svg);
				@include backgroundSoltC();
			}
		}
		&:checked ~ label {
			color:$gray7;
			&:before { background-color:$green1 }
		}
		&:disabled ~ label {
			color:$gray4 !important;
			@include opacity(.5);
		}
	}
	/*input[type="radio"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		& + label {
			display:inline-block; padding:0 0 0 32px; font-size:15px; color:$gray7; line-height:22px; position:relative;
			&:before {width:22px; height:22px; content:""; border:1px solid $gray5; border-radius:100%; box-sizing:border-box; background-color:$white; position:absolute; top:0; left:0;}
			&:after {
				width:16px; height:16px; border-radius:100%; content:""; display:block; position:absolute; top:3px; left:3px; opacity:0; background-color:$blue5;
			}
		}
		&:checked ~ label {
			&:before {border-color:$blue5;}
			&:after {opacity:1}
		}
	}*/
}

/* button style */
.btn_default { width:100%; font-size:vw(30); line-height:vw(30); text-align:center; font-weight:$medium; display:block; box-sizing:border-box; letter-spacing:vw(-1); }
.btn_type01 {
	color:$white; padding:vw(39) 0 vw(35); background-color:$green1; border-radius:vw(16);
	&:active { background-color:$green2; }
	&:disabled, &:disabled:active { background-color:$gray4 }
	&.btn_disabled { background-color:$gray4 }
}
.btn_type02 {
	color:$gray7; padding:vw(39) 0 vw(35); position:relative; border-radius:vw(16); background-color:$white;
	&:after { width:100%; height:100%; content:""; border:vw(2) solid $gray4; box-sizing:border-box; position:absolute; top:0; left:0; border-radius:vw(16); }
	&:active:after { border-color:$gray7; }
	&:disabled:after, &:disabled:active:after { border-color:$gray2; color:$gray5; }
	&.btn_disabled:after, &.btn_disabled:active:after { border-color:$gray2; color:$gray5; }
}
.btn_type03 {
	text-align:center; border:vw(2) solid $gray2; border-radius:vw(20); padding:vw(28) 0 vw(24); letter-spacing:vw(-0.6); line-height:inherit;
	span {
		display:inline-block; font-size:vw(26); line-height:vw(44); color:$gray7; letter-spacing:vw(-0.6); position:relative; padding:0 0 0 vw(60); font-weight:$regular;
		&:before,&:after {
			width:vw(44); height:vw(44); content:""; position:absolute; top:50%; left:0; margin:vw(-2) 0 0;
			@include translate(0,-50%);
		}
		&:before { background-color:$gray4; border-radius:100%; z-index:-1; }
		&:after { background:url(../../images/common/icon_more.svg) no-repeat 50% 50%; background-size:cover; }
	}
	&:active { border-color:$gray4; }
	&:disabled, &:disabled:active {
		border-color:$gray2;
		span { color:$gray4 }
		span:before { background-color:$gray2 }
	}
	&.btn_disabled {
		border-color:$gray2;
		span { color:$gray4 }
		span:before { background-color:$gray2 }
	}
}
.btn_type04 {
	color:$white; padding:vw(37) 0; background-color:$violet1; border-radius:vw(16);
	&:active { background-color:$violet2; }
	&:disabled, &:disabled:active { background-color:$gray4 }
	&.btn_disabled { background-color:$gray4 }
}
.btn_type05 {
	color:$green1; padding:vw(37) 0; position:relative; border-radius:vw(16); background-color:$white;
	&:after { width:100%; height:100%; content:""; border:vw(2) solid $green1; box-sizing:border-box; position:absolute; top:0; left:0; border-radius:vw(16); }
	&:active { color:$green2; }
	&:active:after { border-color:$green2; }
	&:disabled, &.btn_disabled { color:$gray5 }
	&:disabled:after, &:disabled:active:after { border-color:$gray5; color:$gray5; }
	&.btn_disabled:after, &.btn_disabled:active:after { border-color:$gray5; color:$gray5; }
}

///**
// * Swiper 5.1.0
// * Most modern mobile touch slider and framework with hardware accelerated transitions
// * http://swiperjs.com
// *
// * Copyright 2014-2019 Vladimir Kharlampidi
// *
// * Released under the MIT License
// *
// * Released on: October 16, 2019
// */

@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(-1 * var(--swiper-navigation-size)/ 2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}


